* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $white;
  background: $black;
  font-size: 21px;  
  scroll-behavior: smooth;
  font-family: $mon!important;
}

a {
  text-decoration: none;
  color: $black;
}
section {
  padding: 0 40px;
}

.card-title {
  font-family: $lobster;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  color: $white;
  margin: 40px 0;
  &:hover {
    color: $pink;
  }
  @media only screen and (max-width: 600px) {
    font-size: 36px;
  }
}